body {
  
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.test2{
  width: 600px;
  height: auto;
}

.imag {
  max-height:700px;
  width: 100%;
  object-fit: cover;
}

.deleteIcon {
  cursor: pointer;
  position: absolute;
  right:40px;
  z-index: 3;
  top: 5px;
}

.carousel-item > img { 
  width: 100%; 
}